.card {
  height: 100%;
  width: 100%;
  @media (max-width: $mantine-breakpoint-xxs) {
    height: rem(380px);
    width: 100%;
  }
  @media (min-width: $mantine-breakpoint-xxs) and (max-width: $mantine-breakpoint-xs) {
    height: rem(380px);
    width: 90%;
  }
}

.ctaContainer {
  margin-top: rem(8px);
}
