.card {
  background-color: var(--mantine-color-body);
  height: 100%;
  width: 80%;
  @media (max-width: $mantine-breakpoint-xxs) {
    height: rem(380px);
    width: 100%;
  }
  @media (min-width: $mantine-breakpoint-xxs) and (max-width: $mantine-breakpoint-xs) {
    height: rem(380px);
    width: 90%;
  }
}

.image {
}

.details {
  width: 100%;
  padding: var(--mantine-spacing-xs) 0;

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    height: rem(300px);
  }
}

.otherDetails {
  flex-grow: 1;
  padding: rem(2px) 0;
  @media (max-width: $mantine-breakpoint-xs) {
    justify-content: flex-start;
  }
}

.ctaContainer {
  margin-top: rem(8px);
}
