.label {
  min-width: rem(140px);
  @media (max-width: $mantine-breakpoint-md) {
    min-width: rem(100px);
  }
}

.labelValue {
  @media (max-width: $mantine-breakpoint-md) {
    --text-fz: 12px;
  }
}
