.label {
  min-width: rem(140px);
  @media (max-width: $mantine-breakpoint-xxs) {
    min-width: rem(130px);
  }
}

.labelValue {
  --text-fz: 14px;
  @media (max-width: $mantine-breakpoint-md) {
    --text-fz: 12px;
  }
}

.value {
}
